body {

    width:100%;
    height: 100%;
    vertical-align: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

#tabs {

	height: 5%;
	width: 100%;
}

#tab1 {

	height: 100%;
	width: 33.3%;
	font-size: 2vw;
	float: left;
}

#tab2 {

	height: 100%;
	width: 33.3%;
	font-size: 2vw;
	float: left;
}

#tab3 {

	height: 100%;
	width: 33.3%;
	font-size: 2vw;
	float: left;
}

#online {

	height: 85%;
	width: 15%;
	float: left;
	font-size: 2vw;
    border: 0.1vw solid #000;
}

#feature {

	height: 85%;
	width: 100%;
    border: 0.1vw solid #000;
}

#bottom {

	height: 10%;
	width: 100%;
}

#shareLinkText {

	margin-right: 70%;
	font-size: 2vw;
}

#shareLink {

	margin-right: 70%;
	font-size: 1.5vw;
	border: 0.1vw solid #000;
}