body {

    width:100%;
    height: 100%;
    vertical-align: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0%;
}

#tabs {

	height: 5%;
	width: 100%;
}

#tab1 {

	height: 100%;
	width: 33.3%;
	font-size: 2vw;
	float: left;
    background-color: #1ea6f5
}

#tab2 {

	height: 100%;
	width: 33.3%;
	font-size: 2vw;
	float: left;
    background-color: #1ef5ee
}

#tab3 {

	height: 100%;
	width: 33.3%;
	font-size: 2vw;
	float: left;
    background-color: #1ef5ee
}

#center {
	height: 85%;
	width: 100%;
}

#online {

	height: 100%;
	width: 14.8%;
	font-size: 2vw;
    border: 0.1vw solid #000;
	float: left;
    background-color: #ff5759
}

#textOnline {

	height: 10%;
	font-size: 2vw;
	width: 100%;
}

#users {

	height: 90%;
	overflow: auto;
	font-size: 2vw;
	width: 100%;
    text-align: left;
    padding-left: 5%;
    margin: 0;
}

#container {

	height: 100%;
	width: 84.8%;
    border: 0.1vw solid #000;
    float: left;
    position: relative;
}

#feature,
#codeEditor,
#whiteboard {

	height: 100%;
	width: 100%;
    position: absolute;
}

#feature {
	z-index: 1;
  opacity: 1.0;
}

#whiteboard {
  opacity: 0.0;
	z-index: 0;
}

#codeEditor {
  opacity: 0.0;
  z-index: 0;
}

#canvas {
  opacity: 0.0;
  height: 95%;
  width: 100%;
  z-index: 0;
}

.colorbox {
  width: 22px;
  height: 22px;
  margin: 1px;
  display: inline-block;
  border: 3px solid black; }

#colorPicker {
  opacity: 0.0;
  height: 5%;
  width: 100%;
  z-index: 0;
}

#bottom {

	height: 10%;
	width: 100%;
}

#shareButton {
	margin-right: 70%;
	font-size: 2vw;
    background-color: #1ef5ee
}

#shareButton:hover {
    background-color: #1ea6f5
}